$squarea-color: #00aa9d;
$squareb-color: #2b3f53;
$squarec-color: #D3D5D4;
$squared-color: #7F6A93;
$squaree-color: #F9A03F;
$squaref-color: #F7D488;
$squareg-color: #D55672;
$squareh-color: #481620;



